In [1]:
import numpy as np
import pandas as pd
import pickle

df = pd.read_csv("processed_ADNIMERGE.csv")

df

,Unnamed: 0,RID,VISCODE,EXAMDATE,DX_bl,AGE,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY,APOE4,DX,Month
0,0,2,bl,2005-09-08,CN,74.3,Male,16,Not Hisp/Latino,White,Married,0.0,CN,0
1,1,3,bl,2005-09-12,AD,81.3,Male,18,Not Hisp/Latino,White,Married,1.0,Dementia,0
2,2,3,m06,2006-03-13,AD,81.3,Male,18,Not Hisp/Latino,White,Married,1.0,Dementia,6
3,3,3,m12,2006-09-12,AD,81.3,Male,18,Not Hisp/Latino,White,Married,1.0,Dementia,12
4,4,3,m24,2007-09-12,AD,81.3,Male,18,Not Hisp/Latino,White,Married,1.0,Dementia,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16052,16052,6961,m12,2022-07-28,EMCI,61.9,Female,18,Not Hisp/Latino,Black,Divorced,NaN,NaN,12
16053,16053,6987,m12,2022-07-28,CN,65.5,Female,17,Not Hisp/Latino,Black,Married,NaN,NaN,12
16054,16054,2182,m120,2021-01-11,EMCI,65.5,Male,20,Not Hisp/Latino,White,Unknown,0.0,MCI,120
16055,16055,4612,m126,2022-07-27,CN,68.4,Female,18,Not Hisp/Latino,White,Divorced,1.0,NaN,126
16056,16056,6929,m12,2022-06-08,EMCI,63.1,Female,14,Not Hisp/Latino,White,Married,NaN,CN,12